<h1>URL Shortener!</h1>
<div>
<%# TODO: extract error messaging %>
<% if @facade.errors? %>
  <p>Unable to create short URL because of the following:</p>
  <ul>
  <% @facade.errors.each do |error| %>
    <li><%= error.full_message %></li>
  <% end %>
  </ul>
<% end %>

<%# TODO: prettify short url form %>
<%= form_with(model: @facade.build) do |f| %>
  <%= f.label :url %>
  <%= f.url_field :url %>
  <%= f.submit 'Create short URL' %>
<% end %>
</div>
<br>
<%# TODO: prettify short url list %>
<table>
  <tr>
    <th>#</th>
    <th>Slug</th>
    <th>URL</th>
    <th>Views</th>
    <th>Short URL</th>
    <th>Created at</th>
  </tr>
  <% @facade.list.each do |short_url| %>
  <tr id="<%= short_url.id %>">
    <td><%= short_url.id %></td>
    <td><%= short_url.slug %></td>
    <td><%= short_url.url %></td>
    <td><%= short_url.views %></td>
    <td><%= vanity_link short_url %></td>
    <td><%= short_url.created_at %></td>
  </tr>
  <% end %>
</table>
