<h1>URL Shortener!</h1>
<div>
<% if @short_url_form.errors.any? %>
  <p>Unable to create short URL because of the following:</p>
  <ul>
  <% @short_url_form.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for(@short_url_form, url: short_urls_path) do |f| %>
  <%= f.label :url %>
  <%= f.url_field :url %>
  <%= f.submit 'Create short URL' %>
<% end %>
</div>
<br>
<table>
  <tr>
    <th>#</th>
    <th>Slug</th>
    <th>URL</th>
    <th>Views</th>
    <th>Short URL</th>
    <th>Created at</th>
  </tr>
  <% @short_urls_facade.list.each do |short_url| %>
  <tr id="<%= short_url.id %>">
    <td><%= short_url.id %></td>
    <td><%= link_to short_url.slug, short_url_path(short_url) %></td>
    <td><%= short_url.url %></td>
    <td><%= short_url.views %></td>
    <td><%= vanity_link short_url %></td>
    <td><%= short_url.created_at %></td>
  </tr>
  <% end %>
</table>
