Your URLs

<div>
<%# TODO: extract error messaging %>
<% if @facade.errors? %>
  Unable to create short URL because of the following:
  <% @facade.errors.each do |error| %>
    <p><%= error.full_message %></p>
  <% end %>
<% end %>

<%# TODO: prettify short url form %>
<%= form_with(model: @facade.build) do |f| %>
  <%= f.label :url %>
  <%= f.url_field :url %>
  <%= f.submit 'Create short URL' %>
<% end %>
</div>

<%# TODO: prettify short url list %>
<div>
<% @facade.list.each do |short_url| %>
  <p><%= "#{short_url.slug} -> #{short_url.url} #{short_url.views}" %></p>
<% end %>
</div>
